In [17]:
import pandas as pd
import locale

locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [ ]:
df = pd.read_csv('../csv/dados_vendas.csv')

In [54]:
df

,Data,Numero_Indice_Total,Var. mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,jan/22,"110,9","+0,73%","+8,45%",4984
1,fev/22,"112,1","+1,09%","+8,73%",5039
2,mar/22,"113,1","+0,93%","+9,07%",5085
3,abr/22,"114,8","+1,48%","+9,70%",5160
4,mai/22,"116,5","+1,44%","+10,65%",5235
5,jun/22,"117,6","+0,98%","+11,39%",5286
6,jul/22,"118,8","+1,04%","+12,17%",5341
7,ago/22,"118,8","-0,05%","+11,62%",5338
8,set/22,"119,5","+0,66%","+11,49%",5373
9,out/22,120,"+0,35%","+10,93%",5392
10,nov/22,121,"+0,87%","+10,91%",5439
11,dez/22,"121,4","+0,30%","+10,26%",5455
12,jan/23,"122,7","+1,14%","+10,69%",5517
13,fev/23,"124,3","+1,25%","+10,87%",5586
14,mar/23,126,"+1,35%","+11,34%",5662
15,abr/23,"126,8","+0,64%","+10,42%",5698
16,mai/23,"127,7","+0,75%","+9,68%",5741
17,jun/23,"127,6","-0,07%","+8,53%",5737
18,jul/23,"127,6","-0,03%","+7,38%",5735
19,ago/23,"127,5","-0,06%","+7,37%",5732
20,set/23,129,"+1,19%","+7,93%",5800
21,out/23,"130,7","+1,30%","+8,95%",5875
22,nov/23,"132,2","+1,11%","+9,21%",5940
23,dez/23,"133,3","+0,86%","+9,82%",5991
24,jan/24,"134,3","+0,76%","+9,41%",6036
25,fev/24,"136,6","+1,74%","+9,93%",6141
26,mar/24,138,"+0,98%","+9,52%",6201
27,abr/24,"140,1","+1,52%","+10,48%",6296
28,mai/24,"141,3","+0,92%","+10,67%",6354
29,jun/24,"143,5","+1,55%","+12,47%",6452
30,jul/24,"145,4","+1,32%","+13,99%",6537
31,ago/24,"148,1","+1,82%","+16,13%",6656
32,set/24,151,"+1,94%","+17,00%",6786
33,out/24,"152,7","+1,15%","+16,83%",6864
34,nov/24,"153,5","+0,51%","+16,13%",6899
35,dez/24,154,"+0,34%","+15,54%",6922
36,jan/25,"156,4","+1,57%","+16,47%",7030
37,fev/25,"159,8","+2,17%","+16,96%",7183
38,mar/25,"163,3","+2,22%","+18,39%",7342
39,abr/25,"165,6","+1,40%","+18,25%",7445
40,mai/25,"166,8","+0,71%","+18,00%",7497

In [20]:
df.isnull().any()

Data                         False
Número-Índice Total          False
Var. Mensal (%) Total        False
Var. em 12 meses (%)Total    False
Preço médio (R$/m²) Total    False
dtype: bool

In [21]:
df.dtypes

Data                         object
Número-Índice Total          object
Var. Mensal (%) Total        object
Var. em 12 meses (%)Total    object
Preço médio (R$/m²) Total     int64
dtype: object

In [55]:
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].str.replace(',','.')
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].astype('float')
df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].str.replace('%','')
df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].str.replace(',','.')
df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].astype('float') / 100
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace(',','.')
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace('%','')

df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].astype('float')/100
df['Data'] = pd.to_datetime(df['Data'],format='%b/%y')

In [49]:
df.replace(".", None, inplace=True)

In [56]:
df.to_csv('../data/dados_vendas_joao_pessoa_tratados.csv', index=False, sep=';', encoding='utf-8')